################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AdventOfCode/.vs/AdventOfCode/v16
/AdventOfCode/AdventOfCode/obj/*
/AdventOfCode/AdventOfCode/bin/*
/AdventOfCode/AdventOfCode.Tests/bin/*
/AdventOfCode/AdventOfCode.Tests/obj/*
*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release